#preload{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	
	z-index:200;
	display:flex;
	justify-content: center;
	align-items: center;
}
.preload-bg{
	position:absolute;
	width:100%;
	height:100%;
	background:#000;
	}
#preload .tip{
	display:inline;
	color:#fff;
	font-size:4vw;
	text-transform:uppercase;
	font-weight:bold;
	line-height:1;
	position:relative;
	overflow:hidden;
}
.tip-bg{
	position:absolute;
	width:0px;
	height:100%;
	background:#fff;
	}
.swiper-container {
	width: 100%;
	height: 100%;
	z-index: 100;
}
#txt {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.box {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
h2 {
	cursor: pointer;
	color: #fff;
	font-size: 11vw;
	line-height: 0;
	letter-spacing: -0.04em;
	display: inline;
	position: absolute;
	max-width: 74.61937%;
	white-space: normal;
	left: 0;
	bottom: calc(50% - 75px);
	margin-left: 12.69031%;
}

.swiper-slide h2 {
	display: none;
}